$fontFamily: "Promt", Arial, sans-serif;
$fontStyle: normal;
$fontWeightRegular: normal;
$fontWeightMedium: 500;
$baseFontSize: 16;
$baseLineHeight: 4;

$primaryColor: #0a0a0a;
$secondaryColor: #fff;
$thirdColor: #666;
$fourthColor: #e7e7e2;

$baseMarginTop: 20;
$baseMarginLeft: 20;

$baseMenuIconSize: 48;
