.footer__block {
  width: 48.6%;
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .footer__block {
    width: 63.28%;
  }
}

@media screen and (max-width: 528px) {
  .footer__block {
    width: 87.5%;
  }
}
