.about__title {
  margin: 0;
  padding: 0;
  font-weight: $fontWeightMedium;
  font-size: $baseFontSize * 3px;
  line-height: $baseLineHeight * 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $primaryColor;
}
