.header__title-block {
  width: calc(100% - 696px);
  margin: 242px 0 0 auto;
}

// @media screen and (max-width: 768px) {
//   .header__title-block {
//     width: 63.1%;
//     margin: 263px 0 0 auto;
//   }
// }

// @media screen and (max-width: 768px) {
//   .header__title-block {
//     display: flex;
//     justify-content: flex-end;
//     flex-direction: column;
//     align-items: flex-start;
//     margin: 0;
//     padding: 0;
//   }
// }

@media screen and (max-width: 1136px) {
  .header__title-block {
    width: 56%;
  }
}

@media screen and (max-width: 768px) {
  .header__title-block {
    width: calc(100% - 263px);
  }
}

@media screen and (max-width: 725px) {
  .header__title-block {
    width: 100%;
  }
}

@media screen and (max-width: 466px) {
  .header__title-block {
    margin-top: 71px;
  }
}

@media screen and (max-width: 320px) {
  .header__title-block {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0;
  }
}
