.form__input-container_element {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin: 0 0 20px 0;
}

.form__input-container_element:last-child {
  margin: 0;
}

@media screen and (max-width: 534px) {
  .form__input-container_element:first-child {
    flex-direction: column;
  }
}
